<div class="row">
  <div class="col-8">
    <div class="row">
      <ng-container *ngFor="let x of numbers; index as i">
        <app-number-button
          [class.col-4]="x !== 0"
          [class.col-8]="x === 0"
          [calcNumber]="x">
        </app-number-button>
      </ng-container>
      <app-function-button 
        class="col-4"
        [calcFunction]="functions[0]">
      </app-function-button>
    </div>
  </div>

  <div class="col-4">
    <div class="row">
      <ng-container *ngFor="let y of functions; index as j">
        <app-function-button
          *ngIf="j !== 0" 
          [calcFunction]="y"
          class="col-6">
        </app-function-button>
      </ng-container>
    </div>
    
    
  </div>
  
  
</div>

