<div class="row" id="calculator">
  <input type="text" class="col-12" name="primary-input" id="primary-input" readonly value="{{currentNumber}}">
</div>

<section id="touch-pad">
  <div class="row">
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,7)">7</button>
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,8)">8</button>
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,9)">9</button>
    <button class="btn btn-secondary col btn-sm" (click)="mathFunction($event, '*')">*</button>
  </div>
  
  <div class="row">
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,4)">4</button>
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,5)">5</button>
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,6)">6</button>
    <button class="btn btn-secondary col btn-sm" (click)="mathFunction($event, '/')">/</button>
  </div>
  
  <div class="row">
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,1)">1</button>
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,2)">2</button>
    <button class="btn btn-primary col btn-sm" (click)="numberClicked($event,3)">3</button>
    <button class="btn btn-secondary col btn-sm" (click)="mathFunction($event, '+')">+</button>
  </div>
  
  <div class="row">
    <button class="btn btn-primary col-6 btn-sm" (click)="numberClicked($event,0)">0</button>
    <button class="btn btn-secondary col btn-sm" (click)="numberClicked($event,'.')">.</button>
    <button class="btn btn-secondary col btn-sm" (click)="mathFunction($event, '-')">-</button>
  </div>

  <div class="row">
    <button class="col btn btn-danger" (click)="equals($event)">=</button>
    <button class="col btn btn-warning">C</button>
  </div>

</section>
 